<ng-template #arrowIcon>
  <button>
    <svg viewBox="0 0 477.175 477.175">
      <g>
        <path
          d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5   c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"/>
      </g>
    </svg>
  </button>
</ng-template>
<ng-template #npmLogo>
  <svg class="logo npm-logo" viewBox="0 0 18 7">
    <polygon fill="#FFFFFF" points="1,5 3,5 3,2 4,2 4,5 5,5 5,1 1,1 "/>
    <path fill="#FFFFFF" d="M6,1v5h2V5h2V1H6z M9,4H8V2h1V4z"/>
    <polygon fill="#FFFFFF" points="11,1 11,5 13,5 13,2 14,2 14,5 15,5 15,2 16,2 16,5 17,5 17,1 "/>
  </svg>
</ng-template>
<ng-template #githubLogo>
  <svg class="logo github-logo" viewBox="0 0 1024 1024" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"
          transform="scale(64)" fill="#fff"/>
  </svg>
</ng-template>

<header class="flex-centered-content m p">
  <h1 class="white-space-nowrap">ngXYZ //</h1>
  <h4 class="ml">Uncommon Angular Library</h4>
</header>

<section class="m">
  <div class="package-panel">
    <div class="package-panel-header" [class.shutter-animation]="animateShutters" (click)="prevPackage()">
      <ng-container *ngIf="currentPackageIndex !== 0" [ngTemplateOutlet]="arrowIcon"></ng-container>
    </div>

    <div class="package-panel-body" *ngIf="currentPackage" #packagePanelBody>
      <h2 class="package-panel-title" *ngIf="currentPackage.title">{{currentPackage.title}}</h2>

      <div class="package-panel-tags">
        <a class="link github-link mr" *ngIf="currentPackage.githubLink" [href]="currentPackage.githubLink"
           target="_blank"
           rel="noreferrer noopener">
          <ng-container [ngTemplateOutlet]="githubLogo"></ng-container>
        </a>

        <a class="link npm-link mr" *ngIf="currentPackage.npmLink" [href]="currentPackage.npmLink" target="_blank"
           rel="noreferrer noopener">
          <ng-container [ngTemplateOutlet]="npmLogo"></ng-container>
        </a>

        <p class="link" *ngIf="currentPackage.name" libNgxyzC2c>
          npm i {{currentPackage.name}}
        </p>
      </div>

      <p class="my py package-panel-description" *ngIf="currentPackage.description"
         [innerHTML]="domSanitizer.bypassSecurityTrustHtml(currentPackage.description)"></p>
    </div>

    <div class="package-panel-footer" [class.shutter-animation]="animateShutters" (click)="nextPackage()">
      <ng-container *ngIf="currentPackageIndex < this.packages.length - 1"
                    [ngTemplateOutlet]="arrowIcon"></ng-container>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
