<ng-template #arrowIcon>
  <button>
    <svg appSvgIcon="chevronRight" viewBox="0 0 1 1"></svg>
  </button>
</ng-template>
<ng-template #npmLogo>
  <svg class="logo" appSvgIcon="npm"></svg>
</ng-template>
<ng-template #githubLogo>
  <svg class="logo" appSvgIcon="github"></svg>
</ng-template>

<header class="flex-centered-content m p">
  <h1 class="white-space-nowrap">ngXYZ //</h1>
  <h4 class="ml">Uncommon Angular Library</h4>
</header>

<section class="m">
  <div class="package-panel">
    <div class="package-panel-header" [class.shutter-animation]="animateShutters" (click)="prevPackage()">
      <ng-container *ngIf="currentPackageIndex !== 0" [ngTemplateOutlet]="arrowIcon"></ng-container>
    </div>

    <div class="package-panel-body" *ngIf="currentPackage" #packagePanelBody>
      <h2 class="package-panel-title" *ngIf="currentPackage.title">{{currentPackage.title}}</h2>

      <div class="package-panel-tags">
        <a class="tag mr" *ngIf="currentPackage.githubLink" [href]="currentPackage.githubLink"
           target="_blank"
           rel="noreferrer noopener">
          <ng-container [ngTemplateOutlet]="githubLogo"></ng-container>
        </a>

        <a class="tag mr" *ngIf="currentPackage.npmLink" [href]="currentPackage.npmLink" target="_blank"
           rel="noreferrer noopener">
          <ng-container [ngTemplateOutlet]="npmLogo"></ng-container>
        </a>

        <p class="tag" *ngIf="currentPackage.name" ngxyzC2C>
          npm i {{currentPackage.name}}
        </p>
      </div>

      <p class="my py package-panel-description" *ngIf="currentPackage.description"
         [innerHTML]="domSanitizer.bypassSecurityTrustHtml(currentPackage.description)"></p>
    </div>

    <div class="package-panel-footer" [class.shutter-animation]="animateShutters" (click)="nextPackage()">
      <ng-container *ngIf="currentPackageIndex < this.packages.length - 1"
                    [ngTemplateOutlet]="arrowIcon"></ng-container>
    </div>
  </div>
</section>

<footer>
  <a class="tag m master-repo-link" href="https://github.com/dabalyan/ngxyz" target="_blank" rel="noreferrer noopener">
    <ng-container [ngTemplateOutlet]="githubLogo"></ng-container>
  </a>
</footer>

<router-outlet></router-outlet>
